<div class="content-header">
  <!---------------------- CSS ---------------------->

  <!-- lib control -->
  <link href="/src/private/lib/dataTables/datatables.min.css" rel="stylesheet">
  <link href="/src/private/lib/calendar/calendar.min.css" rel="stylesheet">
  <link href="/src/private/lib/formError/formError.min.css" rel="stylesheet">

  <!-- layout -->
  <link href="/src/private/layout/css/form.css" rel="stylesheet">
  <link href="/src/private/layout/css/input.css" rel="stylesheet">
  <link href="/src/private/layout/css/btn.css" rel="stylesheet">

  <!---------------------- JS ---------------------->

  <!-- lib control -->
  <script src="/src/private/lib/dataTables/datatables.min.js"></script>
  <script src="/src/private/lib/calendar/calendar.min.js"></script>
  <script src="/src/private/lib/formatTime/formatTime.min.js"></script>
  <script src="/src/private/lib/formError/formError.min.js"></script>

  <!-- layout -->
  <script src="/src/private/lib/input/input.min.js"></script>
  <script src="/src/private/lib/Tables/tables.min.js"></script>

  <!---------------------- BODY ---------------------->

  <div class="content-tittle">Categorias</div>
  <div class="content-path">
    <a href="/control">/control</a>
    <a href="/control/mantenimiento">/mantenimiento</a>
    <a href="/control/mantenimiento/categorias">/categorias</a>
  </div>
</div>

<div class="content-body">
  <div class="menu-body">
    <div class="card">
      <div class="card-head">
        <h3 class="card-tittle">Tabla de Categorias</h3>
        <div class="f-row">
          <% if(session.permiso.eliminar){ %>
            <a class="btn btn-danger tbl-eliminar"><i class='bx bx-trash'></i></a>
            <% } %>
              <% if(session.permiso.editar){ %>
                <a class="btn btn-warning tbl-editar"><i class='bx bx-pencil'></i></a>
                <% } %>
                  <% if(session.permiso.agregar){ %>
                    <a class="btn btn-info tbl-nuevo"><i class='bx bx-plus'></i></a>
                    <% } %>
        </div>
      </div>
      <div class="card-body">
        <div class="table-box">
          <table id="table-main" style="width: auto;">
            <thead>
              <tr>
                <% if(session.permiso.ocultar){ %>
                  <th>Estado</th>
                  <% } %>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Creacion</th>
                    <th>Ref</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div class="cards">
            <div class="tables-utils">
              <% if(session.permiso.exportar){ %>
                <div class="download"></div>
                <% } %>
                  <div class="f-row option ">
                    <% if(session.permiso.eliminar){ %>
                      <a class="btn btn-danger tbl-eliminar"><i class='bx bx-trash'></i></a>
                      <% } %>
                        <% if(session.permiso.editar){ %>
                          <a class="btn btn-warning tbl-editar"><i class='bx bx-pencil'></i></a>
                          <% } %>
                            <% if(session.permiso.agregar){ %>
                              <a class="btn btn-info tbl-nuevo"><i class='bx bx-plus'></i></a>
                              <% } %>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if(session.permiso.agregar || session.permiso.editar){ %>
    <div class="menu-side">
      <% if(session.permiso.agregar){ %>
        <div class="card" id="table-nuevo" style="display: none;">
          <div class="card-head">
            <h3 class="card-tittle">Nueva Categoria</h3>
            <a class="card-close"><i class='bx bx-x'></i></a>
          </div>
          <div class="card-body">
            <div class="card-form">
              <div class="form-box">
                <form>
                  <div class="form-body">
                    <div class="form-col">
                      <div class="input-box">
                        <input name="nombre" type="text" oninput="inputCapitalize(this, 50)" required>
                        <label for="nombre">Nombre (50):</label>
                      </div>
                    </div>
                    <div class="form-col">
                      <div class="input-box">
                        <textarea name="descripcion" class="scroll-y"
                          oninput="autoHeight(this); inputParagraphCase(this, 250);" required></textarea>
                        <label for="descripcion">Descripcion (250):</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-foot">
                    <a class="btn btn-success">guardar</a>
                    <div class="f-row">
                      <input class="check-switch" type="checkbox" checked>
                      <label>estado</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% } %>

          <% if(session.permiso.editar){ %>
            <div class="card" id="table-editar" style="display: none;">
              <div class="card-head">
                <h3 class="card-tittle">Editar Categoria</h3>
                <a class="card-close"><i class='bx bx-x'></i></a>
              </div>
              <div class="card-body">
                <div class="card-form">
                  <div class="form-box">
                    <form>
                      <div class="form-body">
                        <div class="form-col">
                          <input type="hidden" name="id">
                          <div class="input-box">
                            <input name="nombre" type="text" oninput="inputCapitalize(this, 50)" required>
                            <label for="nombre">Nombre (50):</label>
                          </div>
                        </div>
                        <div class="form-col">
                          <div class="input-box">
                            <textarea name="descripcion" class="scroll-y"
                              oninput="autoHeight(this); inputParagraphCase(this, 250);" required></textarea>
                            <label for="descripcion">Descripcion (250):</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-foot">
                        <a class="btn btn-success">guardar</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% } %>

              <div class="card" id="select-date">
                <div class="card-body">
                  <div class="calendario"></div>
                </div>
              </div>
    </div>
    <% } %>
</div>

<script src="/src/private/routes/mantenimiento/categorias/index.js"></script>